<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665860927515-s39nku78ghftqlnbqpbogmkvhp1sbe09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665860927515-s39nku78ghftqlnbqpbogmkvhp1sbe09</string>
	<key>API_KEY</key>
	<string>AIzaSyCpw_bBw1JVC0rHYnGnPPjpMesIUZ3pddk</string>
	<key>GCM_SENDER_ID</key>
	<string>665860927515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DSC-21.WashU-Shuttle</string>
	<key>PROJECT_ID</key>
	<string>washu-shuttles</string>
	<key>STORAGE_BUCKET</key>
	<string>washu-shuttles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665860927515:ios:6c6dc8f018074bd961c8be</string>
	<key>DATABASE_URL</key>
	<string>https://washu-shuttles-default-rtdb.firebaseio.com</string>
</dict>
</plist>